:root{
    --nuit:#2A1F1A;
    --bc:#FAF7F4;
    --bc2:#F2EDE7;
    --vert:#C0623A;
    --gris:#A89D96;
    --gris2:#D8D0CA;
    --gris3:#36271F;
    --gris4:#5C4438;
    --blanc:#ffffff;
    --noir: #000000;
    --font1:"Cormorant Garamond";
    --font2:"Inter";
}

/* ↑ ca c la root, ça sert a gagner du temps + pour changer les couleurs en 1 clic */

/* la c'est le style qui s'applique à tout le doc ↓ */

*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
    font-family: var(--font2);
    
    a{
        text-decoration: none;
    }

    img{
        width: 100%;
        object-fit: cover;
    }

    ul{
        list-style: none;
        padding-left: 0;
    }

    h1{
        font-family: var(--font1);
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        color: var(--blanc);
    }

    h2{
        font-family: var(--font1);
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        justify-self: center;
        color: var(--nuit);
    }

    .bouton1{
        background-color: var(--vert);
        color: var(--blanc);
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--vert);
        padding: 15px 30px;
        width: fit-content;
        &:hover{
            background-color: var(--blanc);
            color: var(--vert);
        }
    }
}

body{
    background-color: var(--blanc);
    header{
        background-color: var(--bc);
        max-height: 64px;
        align-content: space-evenly;
        padding: 22px;
        position: sticky;
        top: 0;
        div{
            max-width: 1536px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            >a{
                color: var(--nuit);
                font-family: var(--font1);
                font-weight: 700;
                font-size: 24px;
                display: inline-block;
                    &:hover{
                        transform: scale(1.1);
                        background: linear-gradient(to right, #2A1F1A 20%, #fff 50%, #2A1F1A 80%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: shine 80s infinite linear;
                        animation-fill-mode: forwards;
                        -webkit-text-size-adjust: none;
                        white-space: nowrap;
                    }
            }
            nav{
                align-content: space-evenly;
                ul{
                    display: flex;
                    gap: 30px;
                    li{
                        a{
                            color: var(--gris3);
                            display: inline-block;
                            &:hover{
                                transform: scale(1.1);
                                color: var(--vert);
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        background-color: var(--nuit);
        align-content: space-evenly;
        padding: 60px 20px 60px 20px;
        div{
            max-width: 1536px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            article{
                >a{
                    color: var(--blanc);
                    font-family: var(--font1);
                    font-weight: 700;
                    font-size: 24px;
                    display: inline-block;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                >p{
                    color: var(--gris2);
                    padding-top: 10px;
                }
            }
            .footerart2{
                p{
                    color: var(--gris);
                    font-size: 14px;
                }
                div{
                    justify-content: right;
                    gap: 15px;
                    i{
                        color: var(--blanc);
                        background-color: #ffffff10;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        align-content: center;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
    main{
        .s1{
            height: 1136px;
            background-image: url(../img/pexels-fauxels-3184451.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            >div{
                background: var(--nuit);
                background: linear-gradient(90deg,rgba(42, 31, 26, 0.9) 0%, rgba(42, 31, 26, 0.7) 75%, rgba(42, 31, 26, 0) 100%);
                height: 1136px;
                align-content: center;
                >div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    max-width: 1536px;
                    margin: auto;
                    justify-items: center;
                    padding: 20px;
                    img{
                        width: 248px;
                        height: 248px;
                        border-radius: 400px;
                        border-style: solid;
                        border-width: 4px;
                        border-color: var(--blanc);
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10);
                    }
                    article{
                        justify-self: start;
                        h2{
                            font-family: var(--font2);
                            font-weight: 400;
                            font-size: 24px;
                            color: var(--blanc);
                            justify-self: self-start;
                            padding-bottom: 40px;
                            padding-top: 20px;
                        }
                        p{
                            max-width: 540px;    
                            font-family: var(--font2);
                            font-weight: 400;
                            font-size: 18px;
                            color: var(--blanc);
                            line-height: 28px;
                            padding-bottom: 30px;
                        }
                    }
                }
            }
        }
        .s2{
            max-width: 1536px;
            margin: auto;
            padding: 50px 20px;
            >div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
                article{
                    padding-top: 50px;
                    >p{
                        padding-bottom: 20px;
                        padding-top: 20px;
                    }
                    >a{
                        color: var(--vert);
                        display: inline-block;
                        &:hover{
                            background: linear-gradient(to right, #C0623A 20%, #fff 50%, #C0623A 80%);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation: shine 80s infinite linear;
                            animation-fill-mode: forwards;
                            -webkit-text-size-adjust: none;
                            white-space: nowrap;
                        }
                    }
                    h3{
                        font-family: var(--font1);
                        color: var(--nuit);
                        font-weight: 600;
                        font-size: 24px;
                        padding-bottom: 20px;
                    }
                }
                .s2art2{
                    >div{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 20px;
                        >div{
                            justify-self: center;
                            text-align-last: center;
                            padding-bottom: 40px;
                            p{
                                color: var(--gris3);
                            }
                            i{
                                color: var(--nuit);
                                font-size: 34px;
                                padding-bottom: 15px;
                            }
                            >a{
                                &:hover i{
                                    color: var(--vert);
                                }
                                p{
                                color: var(--gris3);
                                }
                                i{
                                    color: var(--nuit);
                                    font-size: 34px;
                                    padding-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .s3{
            background-color: var(--bc);
            >div{
                max-width: 1536px;
                margin: auto;
                padding: 50px 20px;
                display: grid;
                >a{
                    background-color: var(--nuit);
                    margin-top: 50px;
                    justify-self: center;
                    border-color: var(--nuit);
                    &:hover{
                            background-color: var(--blanc);
                            color: var(--nuit);
                            border-color: var(--nuit);
                        }
                }
                >p{
                    color: var(--gris3);
                    font-size: 18px;
                    justify-self: center;
                    max-width: 672px;
                    text-align: -webkit-center;
                    line-height: 28px;
                    padding-top: 20px;
                    padding-bottom: 60px;
                }
                >div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 40px;
                    article{
                        height: 480px;
                        background-color: var(--blanc);
                        border-radius: 8px;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
                        img{
                            max-height: 256px;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                        }
                        h3{
                            font-family: var(--font1);
                            color: var(--nuit);
                            font-weight: 700;
                            font-size: 20px;
                            padding:20px;
                        }
                        p{
                            color: var(--gris4);
                            padding: 0 20px 20px 20px;
                        }
                        div{
                            display: flex;
                            padding: 0 20px 20px 20px;
                            gap: 15px;;
                            span{
                                color: var(--nuit);
                                background-color: var(--bc2);
                                border-radius: 30px;
                                padding: 5px 10px;
                            }
                        }
                        a{
                            color: var(--vert);
                            padding: 0 20px 20px 20px;
                            display: inline-block;
                            &:hover{
                                background: linear-gradient(to right, #C0623A 20%, #fff 50%, #C0623A 80%);
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                                animation: shine 80s infinite linear;
                                animation-fill-mode: forwards;
                                -webkit-text-size-adjust: none;
                                white-space: nowrap;
                        }
                        }
                    }
                }
            }
        }
        .s4{
            max-width: 672px;
            margin: auto;
            padding: 50px 20px;
            >p{
                text-align: center;
                padding: 20px 0;
                color: var(--gris3);
                line-height: 28px;
                font-size: 18px;
            }
            form{
                display: grid;
                background-color: var(--bc);
                border-radius: 16px;
                padding: 20px;
                padding-bottom: 40px;
                >div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    margin-bottom: 20px;
                    >div{
                        display: grid;
                        gap: 10px;
                        >input{
                            border-radius: 8px;
                            border-color: var(--gris2);
                            border-style: solid;
                            border-width: 1px;
                            height: 50px;
                        }
                    }
                }
                textarea{
                    border-radius: 8px;
                    border-color: var(--gris2);
                    border-style: solid;
                    border-width: 1px;
                    margin-top: 10px;
                }
                label{
                    color: var(--nuit);
                    font-weight: 500;
                }
                #check{
                    display: flex;
                    padding-top: 20px;
                    label{
                        color: var(--gris4);
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width :767px) {

    body{
        header{
            nav{
                display: none;
            }
        }
        footer{
            >div{
                display: grid;
                gap: 20px;
                .footerart2{
                    div{
                        justify-content: center;
                    }
                }
            }
        }
        main{
            .s1{
                height: fit-content;
                >div{
                    height: fit-content;
                    >div{
                        grid-template-columns: 1fr;
                        gap: 40px;
                    }
                }
            }
            .s2{
                >div{
                    grid-template-columns: 1fr;
                    .s2art2{
                        >div{
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                }
            }
            .s3{
                >div{
                    >div{
                        grid-template-columns: 1fr;
                        article{
                            height: fit-content;
                            padding-bottom: 20px;
                            img{
                                height: 256px;
                            }
                            div{
                                flex-wrap: wrap;
                            }
                        }
                    }
                }
            }
            .s4{
                form{
                    >div{
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}

@-moz-keyframes shine {
    0% {
        background-position: -2000px;
    }
    60% {
        background-position: 1800px;
    }
    100% {
        background-position: 4000px;
    }
    }
    @-webkit-keyframes shine {
    0% {
        background-position: -2000px;
    }
    60% {
        background-position: 1800px;
    }
    100% {
        background-position: 4000px;
    }
    }
    @-o-keyframes shine {
    0% {
        background-position: -2000px;
    }
    60% {
        background-position: 1800px;
    }
    100% {
        background-position: 4000px;
    }
    }
    @keyframes shine {
    0% {
        background-position: -2000px;
    }
    60% {
        background-position: 1800px;
    }
    100% {
        background-position: 4000px;
    }
}